<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
<link rel="stylesheet" href="https://js.arcgis.com/4.18/esri/themes/light/main.css" />
<script src="https://js.arcgis.com/4.18/"></script>
<script>
require([
  "esri/Map",
  "esri/views/MapView",
  "esri/layers/TileLayer"
], function (Map, MapView, TileLayer) {

  var rise_of_9_ft = new TileLayer({
    url: "https://www.coast.noaa.gov/arcgis/rest/services/dc_slr/slr_9ft/MapServer",
    visible: "false"
  });
  
  var rise_of_10_ft = new TileLayer({
    url: "https://www.coast.noaa.gov/arcgis/rest/services/dc_slr/slr_10ft/MapServer",
    visible: "false"
  });

  var map = new Map({
    basemap: "dark-gray",
    layers: [rise_of_9_ft,rise_of_10_ft]
  });

  var view = new MapView({
    container: "FLCoastMap",
    map: map,
    center: [-87, 30],
    zoom: 9
  });
  
  var rise_of_10_ft_toggle = document.getElementById("rise_of_10_ft");

  rise_of_10_ft_toggle.addEventListener("change", function() {
    rise_of_10_ft.visible = rise_of_10_ft_toggle.checked;
  });
});
</script>
<span id="layerToggle" class="esri-widget"> <input type="checkbox" id="rise_of_10_ft" unchecked /> 10 Foot Rise From Today </span>
<div id="FLCoastMap" style="padding:0;margin:0;width:800px;height:500px;"></div>
Updated 04/11/2021 #5.
