<div id="map" style="width:1000px;height:1000px;"></div>
<script>
let map;

function initMap() {
  map = new google.maps.Map(document.getElementById("map"), {
    center: { lat: 30.333994, lng: -87.141708 },
    zoom: 11,
  });
  // NOTE: This uses cross-domain XHR, and may not work on older browsers.
  map.data.loadGeoJson(
    "https://www.coast.noaa.gov/arcgis/rest/services/dc_slr/slr_9ft/MapServer?f=pjson"
  );
}
</script>
<!-- Async script executes immediately and must be after any DOM elements used in callback. -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWDqRxCKF7rfNpDSRswnfFU9MJkihGIvA&callback=initMap&libraries=&v=weekly" async></script>
