<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
<link rel="stylesheet" href="https://js.arcgis.com/4.18/esri/themes/light/main.css" />
<script src="https://js.arcgis.com/4.18/"></script>
<script>
require([
  "esri/Map",
  "esri/views/MapView",
  "esri/layers/TileLayer",
  "esri/widgets/LayerList"
], function (Map, MapView, TileLayer) {

  var rise_of_1_ft_layer = new TileLayer({
    url: "https://www.coast.noaa.gov/arcgis/rest/services/dc_slr/slr_1ft/MapServer",
    visible: false
  });

  var rise_of_2_ft_layer = new TileLayer({
    url: "https://www.coast.noaa.gov/arcgis/rest/services/dc_slr/slr_2ft/MapServer",
    visible: false
  });


  var rise_of_3_ft_layer = new TileLayer({
    url: "https://www.coast.noaa.gov/arcgis/rest/services/dc_slr/slr_3ft/MapServer",
    visible: false
  });

  var rise_of_4_ft_layer = new TileLayer({
    url: "https://www.coast.noaa.gov/arcgis/rest/services/dc_slr/slr_4ft/MapServer",
    visible: false
  });

  var rise_of_5_ft_layer = new TileLayer({
    url: "https://www.coast.noaa.gov/arcgis/rest/services/dc_slr/slr_5ft/MapServer",
    visible: false
  });

  var rise_of_6_ft_layer = new TileLayer({
    url: "https://www.coast.noaa.gov/arcgis/rest/services/dc_slr/slr_6ft/MapServer",
    visible: false
  });

  var rise_of_7_ft_layer = new TileLayer({
    url: "https://www.coast.noaa.gov/arcgis/rest/services/dc_slr/slr_7ft/MapServer",
    visible: false
  });
  
  var rise_of_8_ft_layer = new TileLayer({
    url: "https://www.coast.noaa.gov/arcgis/rest/services/dc_slr/slr_8ft/MapServer",
    visible: false
  });

  var rise_of_9_ft_layer = new TileLayer({
    url: "https://www.coast.noaa.gov/arcgis/rest/services/dc_slr/slr_9ft/MapServer",
    visible: false
  });
  
  var rise_of_10_ft_layer = new TileLayer({
    url: "https://www.coast.noaa.gov/arcgis/rest/services/dc_slr/slr_10ft/MapServer",
    visible: false
  });

  var map = new Map({
    basemap: "dark-gray",
    layers: [rise_of_1_ft_layer,rise_of_2_ft_layer,rise_of_3_ft_layer,rise_of_4_ft_layer,rise_of_5_ft_layer,rise_of_6_ft_layer,rise_of_7_ft_layer,rise_of_8_ft_layer,rise_of_9_ft_layer,rise_of_10_ft_layer]
  });

  var view = new MapView({
    container: "FLCoastMap",
    map: map,
    center: [ -87.141047, 30.333715],
    zoom: 16
  });
  
  var rise_of_10_ft_toggle = document.getElementById("rise_of_10_ft_checkbox");

  rise_of_10_ft_toggle.addEventListener("change", function() {
    rise_of_10_ft_layer.visible = rise_of_10_ft_toggle.checked;
  });

  view.when(function() {
     var layerList = new LayerList({
       view: view
      });

      // Add widget to the top right corner of the view
      view.ui.add(layerList, "top-right");
    });

/* Start of Layer List

  const level_of_rise_selector = new LayerList({
          map: map,
          layers: [{
            layer: rise_of_1_ft_layer,
              id: "Rise of 1 Foot",
              subLayers: true
          },{
            layer: rise_of_5_ft_layer,
              id: "Rise of 5 Feet",
              subLayers: true
          },{
            layer: rise_of_10_ft_layer,
              id: "Rise of 10 Feet",
              subLayers: true
          }],
          showLegend: true,
          showOpacitySlider: true
        },"layerList");

  view.ui.add(layerList, "top-right"); */
});
</script>
<span id="layerToggle" class="esri-widget"> <input type="datalist" id="rise_of_10_ft_checkbox" /> 10 Foot Rise From Today </span>
<div id="FLCoastMap" style="padding:0;margin:0;width:800px;height:500px;"></div>
