  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />

  <!-- Load Leaflet from CDN -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

  <!-- Load Esri Leaflet from CDN -->
  <script src="https://unpkg.com/esri-leaflet@3.0.2/dist/esri-leaflet.js"
    integrity="sha512-myckXhaJsP7Q7MZva03Tfme/MSF5a6HC2xryjAM4FxPLHGqlh5VALCbywHnzs2uPoF/4G/QVXyYDDSkp5nPfig=="
    crossorigin=""></script>

   <!-- Esri Leaflet Geocoder -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/esri-leaflet-geocoder/dist/esri-leaflet-geocoder.css"
    />
    <script src="https://unpkg.com/esri-leaflet-geocoder"></script>

<div class="portrait-and-mobile">For best results, rotate your screen to landscape mode.</div>
<div id="FLCoastMap" class="coastal-map"></div>

<script>
  //Define sea level tile map layers.
  var rise_of_0_ft_layer = L.esri.tiledMapLayer({url: 'https://www.coast.noaa.gov/arcgis/rest/services/dc_slr/slr_0ft/MapServer', maxNativeZoom: 15, maxZoom: 22}),
      rise_of_1_ft_layer = L.esri.tiledMapLayer({url: 'https://www.coast.noaa.gov/arcgis/rest/services/dc_slr/slr_1ft/MapServer', maxNativeZoom: 15, maxZoom: 22}),
      rise_of_2_ft_layer = L.esri.tiledMapLayer({url: 'https://www.coast.noaa.gov/arcgis/rest/services/dc_slr/slr_2ft/MapServer', maxNativeZoom: 15, maxZoom: 22}),
      rise_of_3_ft_layer = L.esri.tiledMapLayer({url: 'https://www.coast.noaa.gov/arcgis/rest/services/dc_slr/slr_3ft/MapServer', maxNativeZoom: 15, maxZoom: 22}),
      rise_of_4_ft_layer = L.esri.tiledMapLayer({url: 'https://www.coast.noaa.gov/arcgis/rest/services/dc_slr/slr_4ft/MapServer', maxNativeZoom: 15, maxZoom: 22}),
      rise_of_5_ft_layer = L.esri.tiledMapLayer({url: 'https://www.coast.noaa.gov/arcgis/rest/services/dc_slr/slr_5ft/MapServer', maxNativeZoom: 15, maxZoom: 22}),
      rise_of_6_ft_layer = L.esri.tiledMapLayer({url: 'https://www.coast.noaa.gov/arcgis/rest/services/dc_slr/slr_6ft/MapServer', maxNativeZoom: 15, maxZoom: 22}),
      rise_of_7_ft_layer = L.esri.tiledMapLayer({url: 'https://www.coast.noaa.gov/arcgis/rest/services/dc_slr/slr_7ft/MapServer', maxNativeZoom: 15, maxZoom: 22}),
      rise_of_8_ft_layer = L.esri.tiledMapLayer({url: 'https://www.coast.noaa.gov/arcgis/rest/services/dc_slr/slr_8ft/MapServer', maxNativeZoom: 15, maxZoom: 22}),
      rise_of_9_ft_layer = L.esri.tiledMapLayer({url: 'https://www.coast.noaa.gov/arcgis/rest/services/dc_slr/slr_9ft/MapServer', maxNativeZoom: 15, maxZoom: 22}),
      rise_of_10_ft_layer = L.esri.tiledMapLayer({url: 'https://www.coast.noaa.gov/arcgis/rest/services/dc_slr/slr_10ft/MapServer', maxNativeZoom: 15, maxZoom: 22});

  //Declare array of the sea level layers with common names for user control.    
  var sea_level_layers = {
      "Sea Level Today": rise_of_0_ft_layer,
      "Rise of 1 Foot": rise_of_1_ft_layer,
      "Rise of 2 Feet": rise_of_2_ft_layer,
      "Rise of 3 Feet": rise_of_3_ft_layer, 
      "Rise of 4 Feet": rise_of_4_ft_layer,
      "Rise of 5 Feet": rise_of_5_ft_layer,
      "Rise of 6 Feet": rise_of_6_ft_layer,
      "Rise of 7 Feet": rise_of_7_ft_layer,
      "Rise of 8 Feet": rise_of_8_ft_layer,
      "Rise of 9 Feet": rise_of_9_ft_layer,
      "Rise of 10 Feet": rise_of_10_ft_layer
    };
  
  //Declare the FLCoastMap using latitude and longitude.  
  var FLCoastMap = L.map('FLCoastMap').setView([{{ include.latitude }}, {{ include.longitude }}], 17);

  //Set base map layer.
  L.esri.basemapLayer('Imagery', { maxNativeZoom: 19, maxZoom: 22 }).addTo(FLCoastMap);

  //Add layer control for sea level layers.
  L.control.layers(sea_level_layers).addTo(FLCoastMap);


  var searchControl = new L.esri.Controls.Geosearch().addTo(FLCoastMap);

  var results = new L.LayerGroup().addTo(FLCoastMap);

  searchControl.on('results', function(data){
    results.clearLayers();
    for (var i = data.results.length - 1; i >= 0; i--) {
      results.addLayer(L.marker(data.results[i].latlng));
    }
  });
</script>
