---
---

@import "{{ site.theme }}";

.button, .dropdown-section-head-button {
  display: inline-block;
  overflow: auto;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;

  .button:hover, .dropdown-section-head-button:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.3);
  }

  @include large {
    padding: 0.75rem 1rem;
    margin: 0.5rem 0.5rem;
  }

  @include medium {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem;
    margin: 0.5rem 0.5rem;
  }

  @include small {
    width: auto;
    padding: 0.75rem;
    font-size: 1.00rem;
    margin-right: 0.50rem;
    margin-left: 0.50rem;
    margin-top: 0.50rem;
    margin-bottom:  0.50rem;
  }
}

.navigation-bar {
  overflow: hidden;
  display: inline;
}

.dropdown-section {
  display: inline-block;
  position: relative;
}

.dropdown-section-content {
  display: none;
}

.dropdown-section:hover .dropdown-section-content {
  display: grid;
  grid-template-columns: 50% 50%;
  position: absolute;
  overflow: auto;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
  background-image: linear-gradient(100deg, #155799, #159957);

  @include large {
    width: 350%;
  }

  @include medium {
    width: 350%;
  }

  @include small {
    width: 200%;
    transform: translate(-40%, -3%);
  }
}

.page-header {
  color: $header-heading-color;
  text-align: center;
  background-color: $header-bg-color;
  background-image: linear-gradient(120deg, $header-bg-color-secondary, $header-bg-color);

  @include large {
    padding: 2rem 1.5rem;
  }

  @include medium {
    padding: 1rem 1.5rem;
  }

  @include small {
    padding: 0.5rem 0.25rem;
    line-height: normal;
  }
}

.project-name {
  margin-top: 0;
  margin-bottom: 0.1rem;

  @include large {
    font-size: 2rem;
  }

  @include medium {
    font-size: 1.75rem;
  }

  @include small {
    font-size: 1.6rem;
  }
}

.project-tagline {
  margin-top: 0rem;
  margin-bottom: 1rem;
  font-weight: normal;
  opacity: 0.7;

  @include large {
    font-size: 1.25rem;
  }

  @include medium {
    font-size: 1.15rem;
  }

  @include small {
    font-size: 1rem;
  }
}

.published-date {
  font-size: 0.75rem;
  font-style: italic;
}

.coastal-map {
  display: block;
  padding: 0;
  margin: 0;
  width: auto;
  height: 600px;

  // Modify height for mobile devices in portrait mode
  @media screen 
  and (orientation: portrait)
  and (max-device-width: 480px) {
    height: 400px;
  }

  // Modify height for mobile devices in landscape mode
  @media screen 
  and (orientation: landscape)
  and (max-device-width: 850px) {
    height: 325px;
  }
}

.portrait-and-mobile {
  // Items with this style should only display on mobile devices in portrait mode
  display: none;

  @media screen 
  and (orientation: portrait)
  and (max-device-width: 480px) {
      display: block;
      font-style: italic;
  }
}

.preview-image {
  height: auto;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
